@import "variables";
@import "mediaqueries";

.shr_container {
  max-width: 1400px;
  padding: 0 120px;
  margin: auto;

  @include mobile {
    padding: 0 15px;
  }
}
.primary_bg {
  background-color: $color-primary;
  @include mobile {
    // background-color: red;
  }
}
.bg_light {
  background-color: $bg-light;
}
.bg_white {
  background-color: white;
}
.text_white {
  color: $color-white;
}
.text_dark {
  color: $color-primary !important;
}
.text_secondary {
  color: $color-secondary !important;
}
.section_lr_holder {
  display: flex;
  flex: 2;
  align-items: center;
}
.section_lr_left {
  flex: 1;
}
.section_lr_right {
  flex: 1;
}
.section_heading {
  text-align: center;
  margin: 0 0 50px 0 !important;
  font-weight: bolder;
}
.section_padding {
  padding-top: 80px;
  padding-bottom: 80px;
}
.section_padding_t {
  padding-top: 80px;
}
.section_padding_b {
  padding-bottom: 80px;
}
.mt_40 {
  margin-top: 40px;
}
// Navbar Styles
.navbar_main_hold {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: calc(100% - 240px);
  background-color: $color-primary;
}
.nav_links_holder {
  display: flex;
  align-items: center;
}
.nav_link {
  color: white;
  margin: 0 10px;
}
.nav_btn {
  margin-left: 20px;
}
// Navbar Styles End

// Footer Styles
.footer_main_hold {
  display: flex;
  flex: 5;
  padding-top: 80px;
}
.footer_logo_box {
  flex: 2;
}
.footer_links_box {
  flex: 1;
}
.footer_link_head {
  margin-bottom: 10px;
}
.footer_copyright {
  text-align: center;
  padding: 15px;
  border-top: 1px solid $color-primary;
  margin-top: 60px;
  padding-bottom: 40px;
}
// Footer Styles End

.hero_image {
  width: 100%;
  height: auto;
}
.hero_section {
  height: 700px;
}

//why share oh section
.why_shr_cards_holder {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.why_shr_card {
  flex: 0 0 20%;
  border-radius: 6px;
  padding: 2% 2%;
  margin-bottom: 2%;
  background-color: #fff;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.06);
  overflow: hidden;
}
.why_shr_card_img {
  width: 100%;
}

//why share oh section end

//shr leftright section
.shr_leftright_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10%;
  flex: 2;
}
.lr_sec_rightpart,
.lr_sec_leftpart {
  flex: 1;
}

//shr leftright section end

.ant-btn {
  box-shadow: none !important;
}

//item details box
.items_boxes_holder {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 100px;
}
.item_box_distance{
  background: #f1f1fc;
  padding: 3px 6px;
  border-radius: 4px;
  width: max-content;
  font-size: 12px;
  position: absolute;
    right: 5px;
    bottom: 5px;
}
.item_box_wishlist{
  position: absolute;
    right: 8px;
    top: 5px;
    cursor: pointer;
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 50%;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item_details_img {
  position: relative;
    background: #F2EFE6;
    width: 120%;
    margin-left: -10%;
    margin-top: -10%;
    .fa{
      margin-top: 3px;
    }
}
.item_details_title{
  font-size: 18px;
  margin-top: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}
.item_details_price{
  font-size: 16px;
}
.item_details_rating{
  font-size: 16px;
}
.item_details_description{
  font-size: 16px;
  margin-bottom: 5px;

}
.item_details_area{
  font-size: 15px;
  margin-bottom: 14px;
}
.itembox_rate_ing_holder{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}