@import 'variables';
@import 'mediaqueries';


.shr_container{
    max-width: 1400px;
    padding: 0 120px;

    @include mobile{
        padding: 0 15px;
    }
}
.primary_bg{
background-color: $color-primary;
@include mobile{
    background-color: red;
}
}
.bg_light{

}
.hero_area{

}
.navbar_main_hold{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_logo{
}
.nav_links_holder{
    display: flex;
    align-items: center;
}
.nav_link{
color: white;
margin:0 10px;
}
.nav_btn{
    margin-left: 20px;
}